body {
  background-color: black;
}

button {
  background: #191919;
  color: white;
  font-size: 17px;
  margin: 10px;
  padding: 5px;
  outline: none;
}

button:active {
  transform: scale(0.96);
}

button:hover {
  filter: brightness(250%);
}

.swap-text{
  color: white;
  margin-left: 10px;
}

#myCanvas {
  background: #191919;
  border: 2px gray solid;
  margin-left: 10px;
}
